body{
    overflow-x: hidden; 
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card img{
    height: 200px;
}

.title{
    color: gray;
    font-size: 18px;
}

button{
    border: none;
    outline: none;
    display: inline-block;
    padding: 8px;
    color:white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,a:hover{
    opacity: 0.7;
}

form.search_form input[type=text]{
    padding: 10px;
    font-size: 17px;
    border-radius: 4px;
    border: 1px solid #343a40 !important;
    float: left;
    width: 80%;
    color: white;
    background: #343a40 !important;
}

form.search_form button{
    float: left;
    width: 20%;
    padding: 10px;
    font-size: 17px;
    border:1px solid #343a40 !important;
    border-left: none;
    cursor: pointer;
    background-color: #343a40 !important;
}

form.search_form button:hover{
    background: #343a40 !important; 
}

form.search_form::after{
    content: '';
    clear: both;
    display: table;
}

