body{
    color:#999;
    
    font-family: 'Roboto',sans-serif;
    background-size:cover; 
}
.form-control{
    min-height: 41px;
    box-shadow: none;
    border-color: #e1e1e1;
}
.form-control:focus{
    border-color: #00cb82;
}

.form-control, .btn{
    border-radius: 3px;
}

.form-header{
    margin: -30px -30px 20px;
    padding: 30px 30px 10px;
    text-align: center;
    background: white ;
    border-bottom: 1px solid #eee;
    color:#fff;
}

.form-header h2{
   font-size: 24px;
   font-family: bold;
   margin: 0 0 10px;
   font-family: 'Pacifico'monospace;
}

.form-header p{
    margin: 20px 0 15px;
    font-size: 17px;
    line-height: normal;
}

.signin-form{
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #f0f0f0;
}
.signin-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f0f0f0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    padding: 30px;
}

.signin-form .form-group{
    margin-bottom: 20px;
}

.signin-form label{
    font-size: 13px;
    font-weight: normal;
}

.signin-form .btn{
    font-size: 16px;  
}